/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/rubik-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/rubik-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/rubik-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/rubik-v20-latin-regular.svg#Rubik') format('svg');
    /* Legacy iOS */
}

/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/rubik-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/rubik-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/rubik-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/rubik-v20-latin-500.svg#Rubik') format('svg');
    /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/rubik-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/rubik-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/rubik-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/rubik-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/rubik-v20-latin-700.svg#Rubik') format('svg');
    /* Legacy iOS */
}





.body {

    font-family: 'Rubik', sans-serif;
}


header {
    background-color: #f6f6f9;
    padding-top: 43px;
    width: 100%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

/* Header */
.header_sec {
    display: flex;
    align-items: center;
}


.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
}

.logo__image {
    display: block;
}


.lens {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 5px;
}

.lens:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #434343;

}


.ru {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 62px;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 0 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}

.ru:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 62px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
    box-shadow: 0px 2px 5px #434343;
}



.ru img {
    border-radius: 10%;
}


.currency {
    margin-right: auto;
    margin-left: 15px;

    list-style: none;
    display: flex;

}

.currency__item {
    margin-right: 10px;
    color: #7A7A7A;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
}

.currency__icon {
    color: #285193;
    font-weight: 700;
}

.join-us {
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    display: flex;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
}

.join-us:hover {
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    display: flex;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(159, 159, 159, 0.568);
}

.join-us svg {
    margin-right: 7px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.navbar {
    margin-bottom: 18px;

}

.nav {
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(245, 244, 244, 0.19);
    border-radius: 5px;
    padding: 21px 24px;
    display: flex;
    justify-content: space-between;

}

.nav:hover {
    list-style: none;
    background: #FFFFFF;
    box-shadow: 2px 5px 15px rgba(159, 159, 159, 0.568);
    border-radius: 5px;
    padding: 21px 24px;
    display: flex;
    justify-content: space-between;

}

.nav__item {
    margin-right: 30px;

}

.last-child {
    margin-right: 0;
}

.nav__link {

    text-decoration: none;
    color: #515151;
    font-size: 19px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;

}

.nav__link1 {
    color: #285193;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.Электронная {
    border: 2px solid #BCC3CD;
    margin-left: 90px;
    margin-top: 82px;
    background: rgba(252, 252, 253, 0.936);
    box-shadow: -8px 8px 9px rgba(57, 57, 57, 0.25);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 23px;
    padding-bottom: 30px;
}

.Электронная__почта {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.Социальные__сети {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.Телеграм__канал {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.Мобильная__приложение {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.form__main__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Электрон__p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #888888;

}

.Электрон__logo {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #295091;
    margin-left: 189px;
}

.Напишите {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 12px;

}

.sorov {
    display: block;
    background: #F1F1F1;
    opacity: 0.5;
    border: 2px solid #285193;
    border-radius: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1.990);
    width: 600px;
    padding: 15px;
    margin-bottom: 20px;
}

.text {
    display: block;
    width: 600px;
    height: 307px;
    background: #F1F1F1;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;

}

.file {
    display: block;
    width: 221px;
    height: 50px;
    left: 119px;
    top: 998px;
    background: #FBFBFB;
    opacity: 0.3;
    border: 2px solid #285193;
    border-radius: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.kod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form__button {
    box-sizing: border-box;
    width: 221px;
    height: 50px;
    left: 119px;
    top: 1138px;
    background: #295093;
    border: 2px solid rgba(40, 81, 147, 0.54);
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form__h3 {
    margin-left: 18px;
    width: 88px;
    height: 29px;
    left: 358px;
    top: 1078px;
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    color: #000000;

}

.telegramm {
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    padding: 12px 20px;
}
/* --------------- */
footer {
    background-color: #285193;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer__section__5 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 25px;

}

.footer__section5__text {
    margin-left: auto;
    margin-right: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
}

.footer__img {
    margin-left: 180px;
}

.footer__line {
    background-color: #021739;
    height: 2px;

}

.footer__info {
    display: flex;
    margin-top: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;

    color: #FFFFFF;
}

.footer__info__item1 {
    width: 38%;
    margin-right: 110px;
}

.footer__info__item2 {
    width: 25%;
    margin-right: 110px;
}

.footer__info__item3 {
    width: 25%;
    margin-right: 110px;
}

ul {
    list-style: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;

}

.footer__info__discription {
    line-height: 17px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
}